html,
body,
#container,
div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  position: relative;
  left: 0;
  top: 0;
  border: 1px solid red;
}

#container .middle {
  position: fixed;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: red;
}

.star {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all linear;
}

.ltr {
  animation: ltr 2s linear infinite;
}

@keyframes ltr {
  0% {
    left: calc(100% - 10px);
  }
  50% {
    left: 0%;
  }
  100% {
    left: calc(100% - 10px);
  }
}
